/Clase8/nbproject/private/
/Clase8/build/
/proyecto/nbproject/private/
/proyecto/build/
/practica/nbproject/private/
/practica/build/
/examen/nbproject/private/
/examen/build/
/clase10/nbproject/private/
/clase10/build/